@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

:root {
    font-family: 'Libre Franklin', sans-serif;
}

body {
    max-width: 1300px;
    margin: auto;
    background-color: #F7F7F7;
}

header nav {
    margin: 0 60px;
}

header nav img {
    width: 130px;
    height: 130px;
    position: absolute;
}

header nav ul {
    text-align: right;
}

header nav ul li {
    list-style-type: none;
    display: inline-block;

}

header nav ul li a {
    font-size: 25px;
    line-height: 124px;
    color: rgb(37, 39, 40);
    font-family: "Bender";
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    padding-right: 30px;
}

header nav ul li a:hover {
    color: grey;
}


header div.banner {
    height: 900px;
    background-image: url(../img/mercedes.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header div.banner div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.banner h1 {
    position: absolute;
    margin-left: 200px;
    text-align: right;
    top: 55px;
    font-size: 63px;
    line-height: 100px;
    color: rgb(37, 39, 40);
    font-family: "Franklin Gothic";
}

.banner p {
    position: absolute;
    margin-left: 400px;
    top: 245px;
    text-align: right;
    font-size: 47px;
    line-height: 100px;
    color: rgb(37, 39, 40);
    font-family: "Franklin Gothic";
}

button {
    position: absolute;
    width: 206px;
    margin-left: 430px;
    border-top: 1px solid #f79797;
    background: #d6656a;
    background: -webkit-gradient(linear, left top, left bottom, from(#9c3e3e), to(#d6656a));
    background: -webkit-linear-gradient(top, #9c3e3e, #d6656a);
    background: -moz-linear-gradient(top, #9c3e3e, #d6656a);
    background: -ms-linear-gradient(top, #9c3e3e, #d6656a);
    background: -o-linear-gradient(top, #9c3e3e, #d6656a);
    padding: 8px 16px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 21px;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
}

.button:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
}

.button:active {
    border-top-color: #5c1b2b;
    background: #5c1b2b;
}

@media screen and (max-width: 480px) {

    header nav ul {
        margin-left: 200px;
        text-align: right;
        display: inline-grid;
    }
    header nav ul li a {
        font-size: 20px;
        line-height: 20px;
    }

    .banner h1 {
        font-size: 33px;
        text-align: center;
        margin-left: 30px;
        line-height: 55px;
    }
    .banner p {
        font-size: 33px;
        margin-left: 110px;
        line-height: 35px;
        margin-top: -0px;
    }

    #blink {
        -webkit-animation: blink 2s linear infinite;
        animation: blink 2s linear infinite;
        font-weight: bold;
        color: color: #F00;
    }

    @-webkit-keyframes blink {
        0% {
            color: #F00;
        }
        50% {
            color: #FBB;
        }
        100% {
            color: #F00;
        }
    }

    @keyframes blink {
        0% {
            color: #F00;
        }
        50% {
            color: #FBB;
        }
        100% {
            color: #F00;
        }

    }
    button {
        margin-left: 230px;
        top: 330px;
    }


}

/* bpresent */

#bpresent {
    max-width: 1366%;
    min-height: 800px;
    background-image: linear-gradient(0deg, #232525 0%, #414345 100%);
}

#bpresent h2 {
    right: 0px;
    text-align: center;
    position: absolute;
    min-width: 100%;
    font-size: 50px;
    line-height: 124px;
    color: rgb(255, 255, 255);
    font-family: "Franklin Gothic";
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}



@-webkit-keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

@keyframes pulsate {
    50% {
        color: #fff;
        text-shadow: 0 -1px rgba(0, 0, 0, .3), 0 0 5px #ffd, 0 0 8px #fff;
    }
}

.present-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.present-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 30px;
    padding-top: 1px;
}

.present-card:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.present-card img {
    width: 180px;
    height: 180px;
    margin-top: 300px;

}

#bpresent p {
    position: absolute;
    margin-top: 500px;
    font-size: 33px;
    line-height: 124px;
    color: rgb(255, 255, 255);
    font-family: "Franklin Gothic";
}

@media screen and (max-width: 480px) {
    #bpresent h2 {
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .present-card {
        padding: 10px;
        height: 300px;
    }

    .present-card img {
        height: 160px;
        width: 160px;
        margin-top: 100px;
    }
    #bpresent p {
        margin-top: 250px;
        font-size: 25px;
        line-height: 90px;
    }

}

/*assembling*/

#assembling {
    max-width: 1300px;
    min-height: 640px;
    background-color: white;
}

#assembling h2 {
    text-align: center;
    min-width: 100%;
    font-size: 50px;
    line-height: 124px;
    color: rgb(37, 39, 40);
    font-family: "Franklin Gothic";
}

.assembly-instruction {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.steps img {
    width: 257px;
    height: 150px;
}



hr {
    border: 0;
    width: 100%;
    height: 30px;
    margin-top: 0px;
    background: linear-gradient(0deg, #cb2d3d 0%, #ef4739 100%);
}

@media screen and (max-width: 480px) {

    #assembling h2 {
        font-size: 25px;
        margin: 0px;
    }
    .steps {
        margin-top: 40px;
    }
    .steps img {
        width: 207px;
        height: 109px;
    }
}



/*photo*/

#photo {
    background-image: url(../img/photo/collage.png);
    background-position: center;
    background-size: cover;
    display: flex;
    min-height: 1150px;
}

/*contact*/

hr {
    border: 0;
    width: 100%;
    height: 30px;
    margin-top: 0px;
    background: red;
}


.order {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 600px;
    ;
}

#contact {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    height: 400px;
    width: 440px;
}


#contact p {
    font-size: 30px;
    line-height: 37px;
    width: 400px;
    height: 110px;
    color: rgb(37, 39, 40);
    font-family: "Franklin Gothic";
    text-align: center;
}

.contact-details {
    width: 400px;
    height: 210px;
    text-align: center;
}

.contact-details input[type="text"],
input[type="tel"] {
    width: 200px;
    height: 35px;
    margin: 3px;
    font-size: 20px;
    line-height: 124px;
    color: rgb(37, 39, 40);
    font-family: "Bender";
    font-weight: 300;
    font-style: italic;
    text-align: left;
}

.payment-method {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 440px;
    height: 480px
}

.payment-method p {
    font-size: 37px;
    min-height: 90px;
    margin: 0px;
    color: rgb(37, 39, 40);
    font-family: "Franklin Gothic";
    text-align: center;
}

.certificates {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 400px;
    min-height: 200pxx
}

.certificates p {
    position: absolute;
    margin-left: 130px;
    font-size: 30px;
    line-height: 30px;
    color: rgb(37, 39, 40);
    font-family: "Franklin Gothic";
}

.advantages {
    margin-top: 50px;
    width: 150px;
    height: 150px;
}

.advantages img {
    width: 120px;
    height: 120px;
}

.advantages p {
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: rgb(37, 39, 40);
    font-family: "Bender";
    font-weight: 300;
    font-style: italic;
    margin-left: 10px;
}


.payment-method input {
    margin-left: 80px;
    border-top: 1px solid #ad1a1a;
    background: #db0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#f00c0c), to(#db0000));
    background: -webkit-linear-gradient(top, #f00c0c, #db0000);
    background: -moz-linear-gradient(top, #f00c0c, #db0000);
    background: -ms-linear-gradient(top, #f00c0c, #db0000);
    background: -o-linear-gradient(top, #f00c0c, #db0000);
    padding: 18.5px 37px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 15px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
}

.payment-method input:hover {
    border-top-color: #ed0c0c;
    background: #ed0c0c;
    color: #593d59;
}

.payment-method input:active {
    border-top-color: #d41717;
    background: #d41717;
}

.contact-details input[type="submit"] {
    border-top: 1px solid #fc0808;
    background: #fa0000;
    background: -webkit-gradient(linear, left top, left bottom, from(#f00c0c), to(#fa0000));
    background: -webkit-linear-gradient(top, #f00c0c, #fa0000);
    background: -moz-linear-gradient(top, #f00c0c, #fa0000);
    background: -ms-linear-gradient(top, #f00c0c, #fa0000);
    background: -o-linear-gradient(top, #f00c0c, #fa0000);
    padding: 4.5px 9px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    -moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
    color: white;
    font-size: 20px;
    width: 207px;
    height: 42px;
    margin-top: 20px;
    font-family: "Franklin Gothic";
    text-decoration: none;
    vertical-align: middle;
}

.contact-details input[type="submit"]:hover {
    border-top-color: #ed0c0c;
    background: #ed0c0c;
    color: #25c256;
}

.contact-details input[type="submit"]:active {
    border-top-color: #f50808;
    background: #f50808;
}

.find-us {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    width: 400px;
    height: 480px;
}

.find-us h1 {
    font-size: 30px;
    line-height: 37px;
    margin-top: 0px;
    color: rgb(37, 39, 40);
    font-family: "Franklin Gothic";
    text-align: center;

}


.contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 80px;

}

.contact-us p {
    font-size: 20px;
    line-height: 27px;
    color: rgb(37, 39, 40);
    font-family: "Franklin Gothic";
    margin-top: -5px;
    margin-left: 20px;
    text-decoration: none;
}

.find-us-1 iframe {
    border: none;
    width: 350px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
}


@media screen and (max-width: 950px) {
    .order {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .payment-method {
        height: 430px;
        margin-top: 40px;
    }
    .contact-us {
        width: 300px;

    }
    .find-us-1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .find-us {
        width: 100%;
    }
    .find-us-1 iframe {
        width: 450px;
        height: 300px;
        margin-top: 0;
    }
}

@media screen and (max-width: 480px) {

    .order {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #contact {
        margin-left: 40px;
    }
    #contact p {
        text-align: center;
        font-size: 25px;
        line-height: 30px;
    }

    .certificates {
        margin-left: 30px;
    }
    .payment-method input {
        margin-left: 100px;
    }
    .find-us-1 {
        flex-direction: column;
    }

}
